<p>question-overview works!</p>

<article>
    <div *ngIf="questions.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <ng-container *ngFor="let question of questions">
            <app-question-manager
                [title]="question.title"
                [description]="question.description"
                [type]="question.type"
                [questionChoices]="question.questionChoices">

            </app-question-manager>
        </ng-container>
    </div>
    
</article>
