.event-container {
    background: linear-gradient(135deg, #EDF4FA, #EBEAE7);
    padding: 70px;
}

.cancel-button {
    padding: 5px 20px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 16px;
    height: 30px;
    border: none;
}

.approve-button {
    padding: 5px 20px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 16px;
    height: 30px;
    border: none;
}
  