<article>
    <div class="container">
        <div class="controls">
            <div class="control-group">
                <label for="date-sort">Sorter efter dato:</label>
                <select id="date-sort" class="dropdown" [(ngModel)]="selectedDateSort">
                    <option value="desc">Dato ↓</option>
                    <option value="asc">Dato ↑</option>
                </select>
            </div>
            <div class="control-group">
                <label for="name-select">Filtrer personale:</label>
                <select id="name-select" class="dropdown" [(ngModel)]="selectedName">
                    <option *ngFor="let name of names" [value]="name">{{ name }}</option>
                </select>
            </div>
            <div class="control-group">
                <label for="category-select">Filtrer elev:</label>
                <select id="category-select" class="dropdown" [(ngModel)]="selectedCategory">
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
            </div>
            <div class="control-group">
            <label id="create-label" for="create-btn">#</label>
            <button class="create-button">Opret svar</button>
        </div>
        </div>
        <form [formGroup]="formGroup">
            <table>
                <thead>
                    <tr>
                        <th>Vælg</th>
                        <th *ngFor="let question of questions">{{ question.title }}</th>
                        <th>Se mere</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRows.length > 0 && formGroup">
                    <tr *ngFor="let row of dataRows; let i = index">
                        <td [formGroupName]="'checkboxes'">
                            <input type="checkbox" [formControlName]="row.id.toString()">
                        </td>
                
                        <td *ngFor="let question of questions">
                            <ng-container *ngIf="row.answers">
                                <span *ngFor="let answer of row.answers">
                                    <span *ngIf="answer.question.id === question.id">
                                        <ng-container
                                            *ngIf="answer.question.type === 'SELECT_ONE' || answer.question.type === 'MULTI_SELECT'; else showAnswer">
                                            <ng-container *ngIf="answer.answerChoices && answer.answerChoices.length > 0">
                                                <ng-container *ngFor="let choice of answer.answerChoices">
                                                    <span *ngIf="choice.questionChoice && choice.questionChoice.choice">{{
                                                        choice.questionChoice.choice }}</span>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                
                                        <ng-template #showAnswer>
                                            <span *ngIf="answer.answer">{{ answer.answer }}</span>
                                        </ng-template>
                                    </span>
                                </span>
                            </ng-container>
                        </td>
                        <td><button (click)="viewMore(row)">Se mere</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <app-table-pagination
            [currentPage]="currentPage"
            [totalResults]="totalItems"
            [totalPages]="totalPages"
            (onPageChange)="fetchCases($event)"
            ></app-table-pagination>

        <div class="actions-group">
            <button class="see-all-btn" >Se alle hændelser</button>
            <button class="print-button" (click)="onClickPrint()">Udskriv</button>
        </div>
    </div>
</article>
