.default-background {
    background: linear-gradient(#EDF4FA, #EBEAE7);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-background {
    background: linear-gradient(#83A8C9, #415363);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}