<article class="w-full flex justify-between">
    <section class="flex justify-center items-center">
        <p class="capitalize">Velkommen {{ (userStore.user$ | async)?.username }}</p>
    </section>

    <section class="flex justify-center items-center">
        <p class="capitalize">{{ (userStore.user$ | async)?.organization }}</p>
    </section>

    <section class="flex gap-8">
        <app-button 
            [buttonText]="'Hændelse overblik'"
            [buttonIcon]="'file-search-alt'"
            (onButtonClicked)="onCase()">
        </app-button>
        <app-button 
            [buttonText]="'Spørgsmål overblik'"
            [buttonIcon]="'file-question'"
            (onButtonClicked)="onQuestion()">
        </app-button>
        <app-button
            [buttonText]="'Log ud'"
            [buttonIcon]="'signout'"
            (onButtonClicked)="onLogout()">
        </app-button>
    </section>
</article>