@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#EDF4FA, #EBEAE7);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
.monoton-title {
    font-family: 'Monoton', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;