@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

h1,
.monoton-title {
    font-family: 'Monoton', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.default-background,
.login-background {
    background: linear-gradient(135deg, #EDF4FA, #EBEAE7);
    /* Shared gradient */
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.login-background {
    background: linear-gradient(135deg, #83A8C9, #415363);
    color: white;
}

app-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(100px);
    /* Adds blur effect to prevent content visibility through navbar */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    background-color: rgba(255, 255, 255, 0.1);
    /* Slight transparent background to make navbar readable */
}

app-nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

app-nav-bar a:hover {
    text-decoration: underline;
}

.content {
    padding-top: 128px;
    /* Adjust padding to fit below the navbar */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    /* Allow vertical scrolling */
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.questionTitle {
    font-weight: 500;
    font-size: 18px;
}

.questionDescription {
    font-size: 16px;
    margin-bottom: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;